img {
    display: block;
}

ul, ol {
    list-style: none;
    margin: 1.5rem 0 0;
    padding: 0;
}

li {
    margin: 0;
}

a {
    color: $red;
    transition: opacity $timing $easing;
    &:hover {
        opacity: 0.5;
    }
}

.grid-container {
    position: relative;
    max-width: rem($max-width);
    margin: auto;
    padding: 0 rem($container-padding);
    &:before {
        content: "";
        display: table;
    }
    @include grid-container;
}

.button {
    appearance: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: white;
    background-color: $red;
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    outline: 0;
}

.site-title {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 128px;
    height: 56px;
    background-image: url(../../static/logo@2x.png);
    background-size: 100% auto;
    background-position: 0 -56px;

    .site-header & {
        position: absolute;
        z-index: 1;
    }

    .scene-9 & {
        margin-left: rem(-11);
    }
}

.illo-credit {
    opacity: 0.5;
    font-size: 1rem;
}