html {
    font-size: 100%;
}

body,
select,
input,
textarea {
    font-family: $sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: $leading;
    text-transform: lowercase;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    margin: 1.5rem 0 0;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: normal;
}

h1, .h1 {
    font-size: 1.5rem;
}

h2, .h2 {
    font-size: 1.35rem;
}

h3, .h3 {
    font-size: 1.2rem;
}

p {
    margin: 1.5rem 0 0;
}