.clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.absolute-center-y {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.highlight-red {
    background-color: $red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}