.display-none { display: none; }

.clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.absolute-center-y {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.highlight-red {
    background-color: $red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: none;
}

.color-red {
    color: $red;
}

.mt-nudge { margin-top: 0.75rem !important; }
@for $i from 0 through 6 {
    .mt-#{$i} {
        margin-top: $i * 1.5rem !important;
    }
    .pt-#{$i} {
        padding-top: $i * 1.5rem !important;
    }
}

.float-right { 
    float: right;
}

.w-50 {
    @include media($md) {
        width: 47.5%;
        float: left;
        margin-right: 5%;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}