
// Colors

$dark-blue: #0a1e2c;
$red: #e73d50;

// Typography

$font-path: "../fonts";
$sans-serif: "FutureAMedium", Helvetica, Arial, sans-serif;
$leading: 1.5;

// Grid

$max-width: 800;
$container-padding: 20;

// Media Sizes

$sm: 600px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1500px;

// Effects

$timing: 250ms;
$easing: ease-out;