#scene-1 {
    // height: 150vh;
    background-color: $dark-blue;
    color: white;
}

.scene-1__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .static-app & {
        top: 50%;
        bottom: auto;
    }
}

.scene-1__copy {
    margin-top: 0;
    float: none;
}

.scene-1__rule {
    bottom: 4rem;
    top: auto;
    .static-app & {
        bottom: auto;
        top: calc(50% + 6rem);
    }
}

.scene-1__button {
    float: right;
    margin-top: 3rem;
    font-size: 1.5rem;
}