.scene {
    position: relative;
    min-height: 100vh;
    background-color: rgba($dark-blue, 1);
    
    // TODO: FOR DEV ONLY
    outline: 1px dashed rgba(lime, 0.3);
    margin-bottom: 5px;
}

.scene .grid-container.is-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.is-flex {
    .flex-child {
        position: relative;
        z-index: 1;
        flex-basis: rem(370);
        width: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .is-top {
        align-self: flex-start
    }
    .is-bottom {
        align-self: flex-end;
    }
    .is-left {
        order: 0;
    }
    .is-right: {
        order: 1;
    }
} 

.scene-copy {
    @extend .clearfix;
    max-width: rem(370);
}

.scene-rule {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: $red;
    &.draws-rtl {
        left: auto;
        right: 0;
    }
}

.scene-list {
    li {
        @extend .h1;
        margin: 0.5em 0 0;
    }
}

@import 'scene1';
@import 'scene2';
@import 'scene3';
@import 'scene4';
@import 'scene5';
@import 'scene6';
@import 'scene7';
@import 'scene8';
@import 'scene9';