#scene-7 {
    padding-bottom: 30vh;
}

.scene-7__image {
    position: absolute;
    z-index: 0;
    top: 5rem;
    left: 50%;
    margin: 0 0 0 -300px;
}

.scene-7__copy {
    margin-top: rem(900);
}