#scene-1 {
    // height: 150vh;
}

.scene-1__content {
    position: absolute;
    top: 75%;
    left: 0;
    margin-top: -7rem;
    width: 100%;
}

.scene-1__rule {
    top: 75%;
}

.scene-1__button {
    float: right;
    margin-top: 3rem;
}