#scene-3 {
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 10rem;
    background-color: white;
}

.scene-3__image {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: 50%;
    margin: -450px 0 0 -300px;
}
