.scene {
    position: relative;
    min-height: 100vh;
    // background-color: white;
    
    // TODO: FOR DEV ONLY
    // outline: 1px dashed rgba(orange,1);
    // margin-bottom: 5px;
}

.scene-copy {
    @extend .clearfix;
    max-width: rem(370);
    margin-top: rem(1000);
    float: right;
}

.scene-rule {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: $red;
    &.draws-rtl {
        left: auto;
        right: 0;
    }
}

.scene-list {
    position: absolute;
    z-index: 1;
    top: 0;
    left: $container-padding;
    margin-top: rem(150);
    text-shadow: 1px 1px white;
    li {
        @extend .h1;
        margin: 0.5em 0 0;
    }
}

@import 'scene1';
@import 'scene2';
@import 'scene3';
@import 'scene4';
@import 'scene5';
@import 'scene6';
@import 'scene7';
@import 'scene8';
@import 'scene9';