.scene-7 {
}

.scene-7__images {
    position: relative;
    margin-top: rem(150);
    z-index: 0;
    width: 100%;
    @include media($lg) {
        position: absolute;
        margin: 0 0 0 -300px;
        top: 5rem;
        left: 50%;
    }
}

.scene-7__image {
    max-width: 100%;
    height: auto;
    &.mark {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.scene-7__copy {
    margin-top: 0;
    @include media($lg) {
        margin-top: rem(900);
    }
}