
$scene-2-spacer: 12.5rem;

.scene-2 {
    height: 100vh;
    margin-bottom: 50vh;
    margin-top: calc(100vh - #{$scene-2-spacer});
    .static-app & {
        margin-bottom: 0;   
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: calc(-100vh + #{$scene-2-spacer});
        left: 0;
        width: 100%;
        height: calc(100vh - #{$scene-2-spacer});
        background-color: $dark-blue;
    }
}

.scene-2__background {
    height: 100%;
    width: 100%;
    position: relative;
    }

    .scene-2__content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate3d(0,-50%,0);
    }

    .scene-2__copy {
        margin-top: 0;
    }


.scene-2__foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(200);
    background: $dark-blue;
}

.overflow-container {
    overflow: hidden;
}

.scene-2__images {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.scene-2__image {
    margin-bottom: -44px;
    &.light, &.man {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.scene-2__rule {
    z-index: 0;
    top: auto;
    bottom: -2px;
    }
