.scene-6 {
    padding-bottom: 30vh;
}

.scene-6__images {
    position: absolute;
    z-index: 0;
    top: 5rem;
    left: 0;
    width: 100%;

    .woman {
        position: absolute;
        right: 40%;
        margin-right: -300px;
        .static-app & {
            right: 45%;       
        }
    }
    .man {
        position:absolute;
        left: 40%;
        margin-left: -300px;
        .static-app & {
            left: 50%;
        }
    }
}

.scene-6__copy {
    margin-top: rem(1000);
    float: right;
}