#scene-4 {
    // height: 150vh;
    // overflow: hidden;
    padding-bottom: 10rem;
}

.scene-4__copy {
    margin-top: rem(800);
}

.scene-4__images {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    margin: 0 0 0 -300px;
}

.scene-4__image.box {
    position: relative;
    z-index: 1;
}
.scene-4__image.big-man {
    position: absolute;
    z-index: 2;
    bottom: 150px;
    left: 0;
    transform-origin: 50% bottom;
}
.scene-4__image.small-man {
    position: absolute;
    z-index: 0;
    bottom: 210px;
    right: 0;
    transform-origin: 50% bottom;
}
