.scene-5 {
    padding-bottom: 30vh;
}

.scene-5__images {
    position: absolute;
    z-index: 0;
    top: 5rem;
    left: 35%;
}
.scene-5__image {
    position: absolute;
    top: 0;
    left: 0;
}
