#scene-2 {
    height: 100vh;
    // min-height: 0;
    margin-bottom: 100vh;
}

.scene-2__background {
    height: 100%;
    width: 100%;
    position: relative;
    }

    .scene-2__content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate3d(0,-50%,0);
    }

    .scene-2__copy {
        margin-top: 0;
    }


.scene-2__foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark-blue;
    }

    .scene-2__image {
        transform: translate3d(0, 41px, 0);
        position: absolute;
        z-index: 1;
        bottom: 0;
        }

    .scene-2__rule {
        z-index: 0;
        top: auto;
        bottom: 0;
        }
