#scene-1 {
    // height: 150vh;
    background-color: $dark-blue;
    color: white;
}

.scene-1__content {
    position: absolute;
    top: 75%;
    left: 0;
    margin-top: -7rem;
    width: 100%;
}

.scene-1__copy {
    margin-top: 0;
    float: none;
}

.scene-1__rule {
    top: 75%;
}

.scene-1__button {
    float: right;
    margin-top: 3rem;
    font-size: 1.5rem;
}