.scene-8 {
    padding-bottom: 10rem;
    // margin-bottom: 100vh;
}

.scene-8__images {
    position: absolute;
    z-index: 0;
    top: 5rem;
    left: 50%;
    margin: 0 0 0 -300px;
}

.scene-8__image {
    &:not(.tree) {
        position: absolute;
        top: 0;
        left: 0;
    }
}
