#scene-4 {
    // height: 150vh;
    // overflow: hidden;
    padding-bottom: 10rem;
}

.scene-4__image {
    position: absolute;
    z-index: 0;
    top: 5rem;
    left: 50%;
    margin: 0 0 0 -300px;
}