.scene-9 {
    background-color: $dark-blue;
    color: white;
    padding-bottom: 5rem;

    .os-logo {
        margin-top: 4rem;
        @include media($md) {
            float: right;
            margin-top: 11.5rem;
        }
    }
}

.scene-9__copy {
    margin-top: 2rem;
    max-width: rem(390);
    @include media($md) {
        float: left;
    }
    @include media($lg) {
        margin-top: 10rem;
    }
}

.footer-left {
    @include media($md) {
        float: left;
        width: 50%;
    }
}

.footer-right {
    @include media($md) {
        float: right;
        width: 50%;
    }
}